[submodule "patas_module"]
	path = patas_module
	url = https://github.com/Ouatt-Isma/PaTAS-Module.git
[submodule "sl_calibration"]
	path = sl_calibration
	url = https://github.com/Ouatt-Isma/SL-Neural-Network-Calibration
